.hightlights-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 50px 0;
}

.hightlights-section > div:first-child {
  width: 800px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hightlights-section h2 {
  margin: 0;
  font-size: 50px;
}

.hightlights-section button {
  background-color: #f4ce14;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 10px;
  margin-bottom: 10px;
}

.hightlights-section > div:nth-child(2) {
  margin-top: 2%;
  width: 800px;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  gap: 20px;
}

.hightlights-section > div:nth-child(2) > div {
  flex: 1;
  display: flex;
  flex-direction: column;
  background-color: #edefee;
  border-radius: 10px 10px 0 0;
}

.hightlights-section > div:nth-child(2) > div div {
  margin: 0 15px;
}

.img-dish {
  width: 100%;
  aspect-ratio: 3/2;
  object-fit: cover;
  border-radius: 10px 10px 0 0;
}

.dish-name-price {
  display: flex;
  justify-content: space-between;
}

.desc-button {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}
